USE [master]
GO
CREATE DATABASE [AplicatieTablete]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AplicatieTablete', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AplicatieTablete.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AplicatieTablete_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\AplicatieTablete_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AplicatieTablete].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AplicatieTablete]
GO
CREATE USER [java_user] FOR LOGIN [java_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [java_user]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorie](
	[CategorieID] [int] IDENTITY(1,1) NOT NULL,
	[NumeCategorie] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategorieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeCategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](255) NULL,
	[Prenume] [varchar](255) NULL,
	[Email] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UKbfgjs3fem0hmjhvih80158x29] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comanda](
	[ComandaID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[Data] [datetime] NOT NULL DEFAULT (getdate()),
	[Total] [decimal](10, 2) NOT NULL,
	[Status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ComandaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetaliiComanda](
	[ComandaID] [int] NOT NULL,
	[ProdusID] [int] NOT NULL,
	[Pret] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComandaID] ASC,
	[ProdusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producator](
	[ProducatorID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](100) NOT NULL,
	[Adresa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProducatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UKqbx5oub7j5fip4dqnhv703xwb] UNIQUE NONCLUSTERED 
(
	[Nume] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nume] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Produs](
	[ProdusID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [varchar](255) NULL,
	[Marca] [varchar](255) NULL,
	[Pret] [decimal](10, 2) NOT NULL,
	[Stoc] [int] NOT NULL,
	[CategorieID] [int] NOT NULL,
	[ProducatorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProdusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Specificatii](
	[SpecificatieID] [int] IDENTITY(1,1) NOT NULL,
	[Marca] [varchar](255) NULL,
	[RAM] [varchar](255) NULL,
	[MemorieInterna] [varchar](255) NULL,
	[ProdusID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpecificatieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ProdusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [UKa8h94cnvqdbthlqmyho7e5yxm] ON [dbo].[Specificatii]
(
	[ProdusID] ASC
)
WHERE ([produsid] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comanda]  WITH CHECK ADD  CONSTRAINT [FK_Comanda_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comanda] CHECK CONSTRAINT [FK_Comanda_Client]
GO
ALTER TABLE [dbo].[Comanda]  WITH CHECK ADD  CONSTRAINT [FKmqjjjdi408071dhvs41mu2sx4] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Comanda] CHECK CONSTRAINT [FKmqjjjdi408071dhvs41mu2sx4]
GO
ALTER TABLE [dbo].[DetaliiComanda]  WITH CHECK ADD  CONSTRAINT [FK_Detalii_Comanda] FOREIGN KEY([ComandaID])
REFERENCES [dbo].[Comanda] ([ComandaID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetaliiComanda] CHECK CONSTRAINT [FK_Detalii_Comanda]
GO
ALTER TABLE [dbo].[DetaliiComanda]  WITH CHECK ADD  CONSTRAINT [FK_Detalii_Produs] FOREIGN KEY([ProdusID])
REFERENCES [dbo].[Produs] ([ProdusID])
GO
ALTER TABLE [dbo].[DetaliiComanda] CHECK CONSTRAINT [FK_Detalii_Produs]
GO
ALTER TABLE [dbo].[Produs]  WITH CHECK ADD  CONSTRAINT [FK_Produs_Categorie] FOREIGN KEY([CategorieID])
REFERENCES [dbo].[Categorie] ([CategorieID])
GO
ALTER TABLE [dbo].[Produs] CHECK CONSTRAINT [FK_Produs_Categorie]
GO
ALTER TABLE [dbo].[Produs]  WITH CHECK ADD  CONSTRAINT [FK_Produs_Producator] FOREIGN KEY([ProducatorID])
REFERENCES [dbo].[Producator] ([ProducatorID])
GO
ALTER TABLE [dbo].[Produs] CHECK CONSTRAINT [FK_Produs_Producator]
GO
ALTER TABLE [dbo].[Produs]  WITH CHECK ADD  CONSTRAINT [FKcj5oj8u225ni0yie54yw9hlcj] FOREIGN KEY([CategorieID])
REFERENCES [dbo].[Categorie] ([CategorieID])
GO
ALTER TABLE [dbo].[Produs] CHECK CONSTRAINT [FKcj5oj8u225ni0yie54yw9hlcj]
GO
ALTER TABLE [dbo].[Produs]  WITH CHECK ADD  CONSTRAINT [FKnkhfphx8oai5t3srxwq2qrr5y] FOREIGN KEY([ProducatorID])
REFERENCES [dbo].[Producator] ([ProducatorID])
GO
ALTER TABLE [dbo].[Produs] CHECK CONSTRAINT [FKnkhfphx8oai5t3srxwq2qrr5y]
GO
ALTER TABLE [dbo].[Specificatii]  WITH CHECK ADD  CONSTRAINT [FK_Specificatii_Produs] FOREIGN KEY([ProdusID])
REFERENCES [dbo].[Produs] ([ProdusID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Specificatii] CHECK CONSTRAINT [FK_Specificatii_Produs]
GO
ALTER TABLE [dbo].[Specificatii]  WITH CHECK ADD  CONSTRAINT [FKnlhnw5s18p7ojvgx7hnmseav1] FOREIGN KEY([ProdusID])
REFERENCES [dbo].[Produs] ([ProdusID])
GO
ALTER TABLE [dbo].[Specificatii] CHECK CONSTRAINT [FKnlhnw5s18p7ojvgx7hnmseav1]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [CK_Email_Format] CHECK  (([Email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [CK_Email_Format]
GO
ALTER TABLE [dbo].[Comanda]  WITH CHECK ADD CHECK  (([Total]>=(0)))
GO
ALTER TABLE [dbo].[DetaliiComanda]  WITH CHECK ADD CHECK  (([Pret]>(0)))
GO
ALTER TABLE [dbo].[Produs]  WITH CHECK ADD CHECK  (([Pret]>(0)))
GO
ALTER TABLE [dbo].[Produs]  WITH CHECK ADD CHECK  (([Stoc]>=(0)))
GO
USE [master]
GO

USE [AplicatieTablete]
GO




DELETE FROM DetaliiComanda;
DELETE FROM Specificatii;
DELETE FROM Comanda;
DELETE FROM Produs;
DELETE FROM Client;
DELETE FROM Categorie;
DELETE FROM Producator;

DBCC CHECKIDENT ('Produs', RESEED, 0);
DBCC CHECKIDENT ('Comanda', RESEED, 0);
DBCC CHECKIDENT ('Client', RESEED, 0);
DBCC CHECKIDENT ('Categorie', RESEED, 0);
DBCC CHECKIDENT ('Producator', RESEED, 0);
GO

INSERT INTO Categorie (NumeCategorie) VALUES 
('Business'), 
('Grafica'), 
('Gaming'), 
('Multimedia'), 
('Copii');

INSERT INTO Producator (Nume, Adresa) VALUES 
('Apple', 'Cupertino, CA, USA'),
('Samsung', 'Suwon, South Korea'),
('Lenovo', 'Beijing, China'),
('Microsoft', 'Redmond, WA, USA'),
('Huawei', 'Shenzhen, China'),
('Amazon', 'Seattle, WA, USA');

INSERT INTO Client (Nume, Prenume, Email) VALUES 
('Dumitrescu', 'Ana', 'ana.dumitrescu@email.com'),
('Popa', 'Mihai', 'mihai.popa@email.com'),
('Ionescu', 'George', 'george.ionescu@email.com'),
('Stan', 'Elena', 'elena.stan@email.com'),
('Radu', 'Cristian', 'cristi.radu@email.com');

INSERT INTO Produs (Nume, Marca, Pret, Stoc, CategorieID, ProducatorID) 
VALUES ('iPad Pro 12.9 M2', 'Apple', 6800.00, 10, 2, 1);

INSERT INTO Produs (Nume, Marca, Pret, Stoc, CategorieID, ProducatorID) 
VALUES ('Galaxy Tab S9 Ultra', 'Samsung', 5900.00, 8, 2, 2);

INSERT INTO Produs (Nume, Marca, Pret, Stoc, CategorieID, ProducatorID) 
VALUES ('Surface Pro 9', 'Microsoft', 7200.00, 5, 1, 4);





















INSERT INTO Comanda (ClientID, Data, Total, Status) VALUES (1, '2025-10-10', 6800.00, 'COMPLETED');

INSERT INTO Comanda (ClientID, Data, Total, Status) VALUES (2, '2026-01-10', 2050.00, 'SHIPPED');

INSERT INTO Comanda (ClientID, Data, Total, Status) VALUES (3, GETDATE(), 11700.00, 'PROCESSING');




INSERT INTO DetaliiComanda (ComandaID, ProdusID, Pret) VALUES (1, 1, 6800.00);

INSERT INTO DetaliiComanda (ComandaID, ProdusID, Pret) VALUES 
(2, 7, 950.00),
(2, 18, 1100.00);

INSERT INTO DetaliiComanda (ComandaID, ProdusID, Pret) VALUES 
(3, 3, 7200.00),
(3, 5, 3400.00),
(3, 21, 1100.00);




GO